.contact-main {
  .main-content {
    background-image: linear-gradient(rgba(97, 11, 236, 0.3), rgba(11, 25, 155, 0.3)),
      url("/assets/images/Contact-Support.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    flex-direction: column;
    margin-bottom: 2rem;

    h1,
    h3 {
      padding: 1rem;
      color: white;
      font-weight: lighter;
    }
    h1 {
      border-bottom: 3px solid rgb(255, 255, 255);
    }
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 5rem;
    flex-basis: 1 1 20rem;
    div {
      flex: 1 1 30rem;
      max-width: 40rem;
    }
  }

  .contact-info {
    text-align: center;
    div {
      padding: 3rem;
      * {
        padding: 1rem;
      }
      i {
        color: var(--color-accent);
        font-size: 2rem;
        align-self: center;
      }
    }
  }

  .container-contact-form {
    display: flex;
    padding: 2rem;
  }

  .sales-item h4,
  .support-item h4 {
    color: var(--color-accent);
  }

  .contact-form h2 {
    padding: 1rem;
    text-align: center;
  }
  .btn {
    background-color: var(--color-accent);
    border: none;

    &:hover {
      background-color: rgba(218, 120, 0, 0.8) !important;
    }
  }
  .questions-and-answers {
    text-align: center;
    h1,
    h2 {
      padding: 1rem;
      color: var(-color-accent-dark);
    }
    img {
      width: 100%;
      max-height: 40rem;
      box-shadow: 2px 4px 10px 3px rgba(32, 32, 32, 0.2);
    }
  }
  .accordion-button {
    box-shadow: none !important;
    background-color: white !important;
    border-radius: 5px;

    &[aria-expanded="true"] {
      color: white !important;
      background-color: var(--color-accent-dark) !important;
    }
    &::after {
      filter: brightness(1000);
    }
  }
  .accordion-body {
    padding-top: 0;
  }
}
.form-control {
  &:focus {
    box-shadow: 0px 0px 3px var(--color-accent);
  }
  &:focus-visible {
    border-color: var(--color-accent);
  }
}
.form-select {
  &:focus {
    box-shadow: none;
    box-shadow: 0px 0px 3px var(--color-accent);
    border-color: var(--color-accent) !important;
  }
}
