@mixin news-basestyle {
  display: flex;
  align-items: center;
}

.news-main {
  --article-width: 26.5rem;
  --border-radius: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.news-hero {
  background-image: url(../../assets/images/technews.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.news-title {
  text-align: center;
  padding: 4rem;
  margin-bottom: 2rem;

  hr  {
    max-width: 50rem;
    margin: auto;
    color: var(--color-accent);
  }

  p {
    font-style: italic;
    padding: 0.25rem;
  }

}

.news-container {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

@media (min-width: 62rem) {
  .news-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    flex-direction: row;
  }
}

.news-card {
  border-radius: var(--border-radius);
  width: var(--article-width);
  height: auto;
  overflow: hidden;
  padding: 0;

  .zoom {
    width: var(--article-width);
    height: 17rem;
    overflow: hidden;

    img {
      border-radius: var(--border-radius);
      width: var(--article-width);
      height: 17rem;
      transition: 1s all ease-in-out;
      
      &:hover {
        transform: scale(1.1);
      }
    }

  }

  .card-body {
    h5 {
      transition: 0.4s;

      &:hover {
        color: var(--color-accent);
      }
    }

  }

  time {
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-size: var(--font-size-xs);
  }
}

.news-subscription {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  p {
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: end;
    }
  }

  form {
    width: 100%;

    input {
      border: 3px solid var(--color-accent-dark);
      box-shadow: none;
    }

    button {
      border: 3px solid var(--color-accent-dark);
      border-left: none;

      &:hover {
        background-color: var(--color-accent-dark);
      }
    }
  }
}

.btn-more,
.btn-newslink,
.btn-back {
  display: flex;
  padding: 2rem;
  margin-top: 3rem;
  justify-content: center;

  .btn-inline {
    border-color: var(--color-accent);
    border: 3px solid var(--color-accent);
    color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent);
      border: 3px solid var(--color-accent);
      color: var(--color-bg);
    }
  }
}

