.services-cover {
    position: relative;
}
.services-cover img {
    object-fit: cover;
    width: 100%;
    height: 40rem;
}
.services-cover h3 {
    color: white;
    position: absolute;
    top: 5rem;
    left: 8rem;
}
.services-cover h4 {
    color: white;
    position: absolute;
    top: 8rem;
    left: 8rem;
}