.services-cover {
    position: relative;
}
.services-cover img {
    object-fit: cover;
    width: 100%;
    height: 35rem;
}
.services-cover h3 {
    color: white;
    position: absolute;
    top: 5rem;
    left: 8rem;
}
.services-cover h4 {
    color: white;
    position: absolute;
    top: 8rem;
    left: 9rem;
}
.services-cover button {
    position: absolute;
    top: 12rem;
    left: 9rem;
}
.services-gallery h2 {
    margin-left: 8rem;
}
.services-gallery {
    margin-top: 2rem;
}
.services-gallery-content {
    object-fit: cover;
    float: left;
    margin-left: 8rem;
    margin-top: 2rem;
}
.services-gallery-desc {
    text-align: center;
    padding: 1rem;
}