.services-cover {
    position: relative;
}
.services-cover img {
    object-fit: cover;
    width: 100%;
    height: 35rem;
}
.services-cover-text {
    color: white;
    position: absolute;
    top: 20%;
    left: 20%;
}
#services-h2 {
    margin-top: 2%;
    margin-left: 2%;
}
.services-gallery {
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 25%;
}
.services-gallery-content {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2%;
    margin: 2%;
}
.services-gallery-content:hover {
    border: 1px solid black;
}
.services-gallery-content img {
    object-fit: cover;
    border-radius: 2%;
    width: 100%;
    height: auto;
}
.services-gallery-desc {
    text-align: center;
    padding: 2%;
}
@media only screen and (max-width: 1000px) {
    .services-gallery {
      width: 50%;
    }
}

.services-cards {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

}
.services-cards img {
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
    .services-cards {
      width: 80%;
    }
}
.services-end img {
    object-fit: cover;
    margin-top: 2rem;
    width: 100%;
    height: 35rem;
}
.services-end-button {
    position: absolute;
    left: 70%;
    bottom: 40%;
}