@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,300&display=swap");
:root {
  --color-bg: #fff;
  --color-bg-alt: #afafaf;
  --color-text: #242424;
  --color-text-light: #404040;
  --color-accent: #da7800;
  --color-accent-dark: #202731;
  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-m: 2rem;
  --font-size-l: 3rem;
  --font-size-xl: 4rem;
}

@media screen and (max-width: 576px) {
  :root {
    --multiplier: 0.8;
    --font-size-m: calc(2rem * var(--multiplier));
    --font-size-l: calc(3rem * var(--multiplier));
    --font-size-xl: calc(4rem * var(--multiplier));
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

p {
  font-size: var(--font-size-s);
}

a {
  color: var(--color-text);
}

a:hover,
a:focus {
  color: var(--color-text-light);
}

.text-small {
  font-size: var(--font-size-xs);
}

.quote {
  font-style: italic;
  font-weight: lighter;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: var(--color-test);
}

#windowgirl {
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-width: 550px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#windowgirl:hover {
  opacity: 80%;
}

#worldmap {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#applybtn {
  margin-top: 30px;
}

#applybtn:hover {
  opacity: 50%;
}

.career-header {
  height: 50rem;
  background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8)), url("/assets/images/pexels-negative-space-169573.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.apply-header {
  height: 50rem;
  background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8)), url("/assets/images/pexels-pixabay-327540.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.services-cover {
  position: relative;
}

.services-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 30rem;
}

.services-cover-text {
  color: white;
  position: absolute;
  top: 30%;
  left: 20%;
}

.services-cover-text h3 {
  margin-bottom: 2rem;
}

.services-cover-button {
  margin-left: 1rem;
}

#services-h2 {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.services-gallery {
  float: left;
  width: 25%;
  margin-bottom: 1%;
}

.services-gallery-content {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2%;
  margin: 4%;
}

.services-gallery-content:hover {
  border: 1px solid black;
}

.services-gallery-content img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
  width: 100%;
  height: auto;
}

.services-gallery-desc {
  text-align: center;
  padding: 2%;
}

@media only screen and (max-width: 1000px) {
  .services-gallery {
    width: 50%;
  }
}
.services-cards-container {
  display: flex;
  margin-bottom: 2%;
}

.services-cards {
  margin: 1%;
}

.services-cards img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .services-cards-container {
    flex-direction: column;
  }
}
.services-end {
  position: relative;
}

.services-end img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20rem;
}

.services-end-text h4 {
  margin-bottom: 1rem;
}

.services-end-text a {
  margin: 1rem;
}

.services-end-text {
  position: absolute;
  bottom: 40%;
  right: 15%;
}/*# sourceMappingURL=main.css.map */